# =========================
# Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# =========================
# Java
# =========================
*.class
*.log

# =========================
# NetBeans
# =========================
nbproject/private/
nbproject/build-impl.xml
nbproject/genfiles.properties
nbbuild/
dist/
nbdist/
.nb-gradle/

# =========================
# IDE general
# =========================
*.iml
.idea/
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log